<a href="https://colab.research.google.com/github/MayJiP/PythonLab/blob/master/TestLab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Friends_Height = [180,158,172,170,172]
Friends_Weight = (72,50,55,65,90)

ListPlus = Friends_Height + Friends_Height
print(ListPlus)

TuplePlus = Friends_Weight + Friends_Weight
print(TuplePlus)

multiplyList = Friends_Height * Friends_Height
print = multiplyList

multiplyTuple = Friends_Height * Friends_Height
print = multiplyTuple

#print ส่วนสูง ของ เพื่อน คนที่ 2 
Friends_Height[1]
#print น้ำหนัก ของ เพื่อน คนที่ 3 ถึง 5
Friends_Weight[2:5]
#แก้ไข List เดิม โดย เพิ่ม (สมาชิก) ส่วนสูง ของเพื่อน คนที่ 6 เข้าไป โดยใช้ function เช่น .append 
Friends_Height.append(176)

[180, 158, 172, 170, 172, 180, 158, 172, 170, 172]
(72, 50, 55, 65, 90, 72, 50, 55, 65, 90)

In [0]:
print(Friends_Height[0:7])
#print ส่วนสูง ของ เพื่อน คนที่ 2 
print(Friends_Height[1])
#print น้ำหนัก ของ เพื่อน คนที่ 3 ถึง 5
print(Friends_Weight[2:5])

[180, 158, 172, 170, 172, 176]
158
(55, 65, 90)

In [0]:
#ลบ ส่วนสูง ของเพื่อน คนที่ 3 ออกจาก List 
Friends_Height.remove(Friends_Height[2])

In [0]:
Friends_Height[0:7]

[180, 158, 170, 172, 176]

In [0]:
#Dictionary
may = {"weight" : 45, "name": "Pun"}

In [0]:
#Dictionary
Friend_Dic = {("May":45,160),
"Nin":(65,170),
"Min":(60,155)
}

In [0]:
def area(width, height): #Reg
  return width * height

def area(width): #Square
  return width * width

def calculate(first, last, salary):
  return False

Reg1_width = 10
Reg1_height = 20

Reg2_width = 50
Reg2_height = 30

Reg3_width = 50
Reg3_height = 30

area1 = Reg1_width * Reg1_height
area2 = Reg2_width * Reg2_height
area3 = Reg3_width * Reg3_height
print(area1)
print(area2)
print(area2)

200
1500
1500

In [0]:
def clean_room(area): # ขนาด = 10 
  return area * 3  + 5  / 3 # 20 นาที

print(clean_room(10))
print(clean_room(20))

clean2 = lambda area : (area* 3  + 5  / 3)
print(clean2(10))
print(clean2(20))

def mean(a,b):
  return(a+b)/2

a + b/2

In [0]:
#เขียนฟังก์ชั่นธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย
def mean4(num1,num2,num3,num4):
  return (num1+num2+num3+num4) /4
print(mean4(4,5,6,7))

#เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 1 ตัว และ ปริ้นค่านั้นหารด้วย 3 
TestCalFN = lambda num : (num/3)
print(TestCalFN(9))

5.5
3.0

In [0]:
a = 10
b = 20
c = a + b
print("Result = " , c)

Result =  30

In [0]:
#Lab Operation
aa = 1+2
bb = 5-2
cc = 3*3
d = 4/2 
e = 4**5
f = 120// 60
g = 5%2
print(aa)
print(bb)
print(cc)
print(d)
print(e)
print(f)
print(g)

3
3
9
2.0
1024
2
1

In [0]:

FirstName = 5
print(Firstname)

########################

SyntaxError: ignored

In [0]:
13Friday = 5
print(13Friday)

SyntaxError: ignored

In [0]:
a1=2345%13
b2=1567//17
########################
print("OUTPUT1 {} OUTPUT2 {}".format(a1,b2))

OUTPUT1 5 OUTPUT2 92

In [0]:
#จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 เกรด A มากกว่า 70 เกรด B มากกว่า 60 เกรด C มากกว่า 50 เกรด D และต่ำกว่า 50 เกรด F

i = 99
if(i > 80):
  print(" GradeA")
elif(i>70):
  print("Grade B")
elif(i>60):
  print("Grade C")
elif(i>50):
  print("Grade D")
else:
  print("Grade F")

A

In [0]:
#จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 เกรด A มากกว่า 70 เกรด B มากกว่า 60 เกรด C มากกว่า 50 เกรด D และต่ำกว่า 50 เกรด F

score = 76
if score > 80:
  print("Grade A")
elif score >70:
  print("Grade B")
elif score >60:
  print("Grade C")
elif score >50:
  print("Grade D")
else:
  print("Grade F")

Grade B

In [0]:

#list = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’] จงเขียน program ให้ loop โดย print ทุกคนออกมาโดยใช้ for
for list2 in ['a', 'b', 'c', 'd', 'e']:
 print(list2)
#ใช้ range ในการ ตัวเลข 0 ถึง 20
for no1 in range(21):
 print ("Number: ",no1)
#ใช้ range ในการ ตัวเลข 10 ถึง 20
for no2 in range(10,21):
 print ("Number: ",no2)

In [0]:

#เขียน code โดยการใช้ continue และ break โดยสื่อให้เห็นว่าเราเข้าใจใน continue และ break 
for numCont in range(12):
 if numCont == 10:
  continue
 print('Cont Test',numCont)
print("End Statement Continue:---------")
for numBreak in range(12):
 if numBreak == 10:
  break
 print('Break Test',numBreak)

In [1]:
#สร้าง nested list ขึ้นมา เป็นแบบ 2 ชั้น เช่น [ [“Krissada”, “CHAlermsoko”, “14”],  [“Benja”, “Cha”, “17”]] แล้วใช้ for ซ้อน for เพื่อทำการ print ออกมาทั้งหมด 
nameList = [ ["Krissada", "CHAlermsoko", "14"],  ["Benja", "Cha", "17"]]
for i in nameList:
  for x in i:
   print(x)
   #print(i)

Krissada
CHAlermsoko
14
Benja
Cha
17

In [0]:
#ใช้ range ในการ ตัวเลข 10 ถึง 50 โดยจะมีการกระโดดข้ามทีละ 1 ตัว เช่น 10,12,14,...,50
for no3 in range(10,51,2):
 print ("Number: ",no3)

In [6]:
#list = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’] จงเขียน program ให้ loop โดย print ทุกคนออกมาโดยใช้ while
list3 = ['a', 'b', 'c', 'd', 'e']
count = 0
while (count <=4):
  print(list3[count])
  count +=1

a
b
c
d
e